<template>
    <div>
      <span class="header-title-text">Rest' Project</span>
    </div>
</template>

<script>
    export default {
        name: "header-component",
        data: function () {
            return {
              user: this.$store.getters.user,
              institution: this.$store.getters.institution
            }
        }
    }
</script>

<style>
  .header-title-text {
    font-size: 30px;
  }
</style>
