<template>
  <el-row>

    <el-col :span="6">
      <div class="categories-part">
        <el-row class="part-name">
          <span>Категории</span>
        </el-row>
        <categories-part>
        </categories-part>
      </div>
    </el-col>

    <el-col :span="16" offset="1">
      <div>
        <el-row class="part-name">
          <span>Блюда</span>
        </el-row>
        <dishes-part>
        </dishes-part>
      </div>
    </el-col>
  </el-row>
</template>

<script>
    import CategoriesPart from './parts/CategoriesPart'
    import DishesPart from './parts/DishesPart'
    import LocalParametersPart from './parts/LocalParametersPart'

    export default {
      name: "main-block",
      components: { CategoriesPart, DishesPart, LocalParametersPart },
    }
</script>

<style scoped>
  .part-name {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .categories-part {
    border-right: 1px gray solid;
  }
</style>
