<template>
<div>
  <el-row>
  <el-col>
  <el-menu :router="true" default-active="categories" class="main-menu" :collapse="!isCollapse">
    <el-menu-item index="categories">
      <i class="el-icon-menu"></i>
      <span slot="title">Категории</span>
    </el-menu-item>
    <el-menu-item index="dishes">
      <i class="el-icon-document"></i>
      <span slot="title">Блюда</span>
    </el-menu-item>
    <el-menu-item index="tags">
      <i class="el-icon-setting"></i>
      <span slot="title">Теги</span>
    </el-menu-item>
  </el-menu>
  </el-col>
  </el-row>
</div>
</template>

<script>

    export default {
        name: "navigation-panel",
      data() {
        return {
          isCollapse: true
        };
      }
    }
</script>

<style scoped>
  .main-menu {
    text-align: left;
    min-height: 1000px;
    border-bottom: gray;
  }
</style>
