<template>
  <div>
    <div class="add-new-category-full-block">
    <el-row class="add-new-category-input" type="flex" justify="center">
      <el-col :span="16" >
        <el-input size="medium" class="category-input" placeholder="Введите название категории" v-model="newCategory"/>
      </el-col>
    </el-row>
    <el-row class="add-new-category-button">
      <el-col>
        <el-button type="success" @click="addNewCategory" round>Добавить</el-button>
      </el-col>
    </el-row>
    </div>
    <div>
      <div v-for="item in categories">{{ item }}</div>
    </div>
  </div>
</template>

<script>
    import ElRow from "element-ui/packages/row/src/row";

    export default {
      components: {ElRow},
      name: "categories-tab",
      data() {
        return {
          newCategory: ''
        }
      },
      computed: {
        categories() {
          console.info("this.$store.getters.categories: ", this.$store.getters.categories);
          return this.$store.getters.categories
        }
      },
      methods: {
        addNewCategory: function () {
          if (this.newCategory.length > 0) {
            this.$store.dispatch('addNewCategory', this.newCategory)
            this.newCategory = '';
          }

        }
      }
    }
</script>

<style scoped>
  .add-new-category-input {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .add-new-category-button {
    margin-bottom: 20px;
    border-bottom: 2px black;
  }
</style>
