<template>
  <div>
    <div>
      <div v-for="item in dishes">
        <span>{{ item.name }}</span>
        <span>{{ item.price }}</span>
        <span>{{ item.payloadInfo }}</span>
        <p>{{ item.description }}</p>
      </div>
    </div>
    <div>
      <select v-model="currentCategoryIndex" @change="getDishesByCategory">
        <option v-for="(item, index) in categories" v-bind:value="index">{{ item }}</option>
      </select>
    </div>
  </div>
</template>

<script>
    export default {
        name: "dishes-tab",
      data() {
        return {
          currentCategoryIndex: '0'
        }
      },
      computed: {
        dishes() {
          return this.$store.getters.currentDishesList
        },
        categories() {
          return this.$store.getters.categories
        }
      },
      methods: {
        getDishesByCategory() {
          console.info(this.currentCategoryIndex);
          this.$store.dispatch('dishesByCategory', this.currentCategoryIndex);
        }
      }
    }
</script>

<style scoped>

</style>
