<template>
  <div id="staggered-list-demo">
    <input v-model="query">
    <transition-group
      name="staggered-fade"
      tag="ul"
      v-bind:css="false"
      @before-enter="beforeEnter"
      @enter="enter"
      @leave="leave"
    >
      <li
        v-for="(item, index) in computedList"
        v-bind:key="item.name"
        v-bind:data-index="index"
      >{{ item.name }}</li>
    </transition-group>
  </div>
</template>

<script>
    export default {
        name: "tag-finder",
      data() {
          return {
            query: '',
          }
      },
      computed: {
        computedList() {
          var vm = this
          return this.tags().filter(function (item) {
            return item.name.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
          })
        },
        tags() {
          return this.$store.getters.tags
        }
      },
      methods: {
        beforeEnter: function (el) {
          el.style.opacity = 0
          el.style.height = 0
        },
        enter: function (el, done) {
          var delay = el.dataset.index * 150
          setTimeout(function () {
            Velocity(
              el,
              { opacity: 1, height: '1.6em' },
              { complete: done }
            )
          }, delay)
        },
        leave: function (el, done) {
          var delay = el.dataset.index * 150
          setTimeout(function () {
            Velocity(
              el,
              { opacity: 0, height: 0 },
              { complete: done }
            )
          }, delay)
        }
      }
    }
</script>

<style scoped>

</style>
