.header {
  color: white;
  background-color: #333;
  display: flex;
  padding: 15px;
}

.header .information-button-block {
  margin-right: 10px;
  margin-left: 10px;
}


.header .user-info {
  margin-left: 25%;
}

.header .user-info .inst-data {
  font-size: 30px;
  font-style: italic;
  margin: inherit;
}

.header .user-info .personal-data {
  margin-left: 20%;
}

