<template>
  <div id="app">
    <el-container>
      <el-header>
        <header-panel></header-panel>
      </el-header>
      <el-container>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
  import HeaderPanel from './components/HeaderPanel'
  export default {
    name: 'app',
    components: { HeaderPanel }
  }
</script>
<style>


  body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    margin: 0;
  }

  .el-header, .el-footer {
    background-color: #303133;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    color: #333;
    text-align: center;

  }

  body > .el-container {
    margin-bottom: 40px;
  }

</style>
