<template>
  <div>
    <el-row>
      <el-button class="add-new-category-btn" size="medium" icon="el-icon-circle-plus" type="success" plain round></el-button>
    </el-row>
    <el-row class="categories-selector">
      <el-col>
        <el-select v-model="currentCategory" filterable placeholder="Выберите категорию">
          <el-option
            v-for="item in categories"
            :key="item"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
        <el-button v-if="currentCategory != '' ? true : false" icon="el-icon-edit" plain></el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
    import ElRow from "element-ui/packages/row/src/row";

    export default {
      components: {ElRow},
      name: "categories-part",
        data() {
            return {
              currentCategory: '',
          }
        },
        computed: {
            categories() {
              return this.$store.getters.categories;
            }
        }
    }
</script>

<style scoped>
  .add-new-category-btn {
    font-size: 20px;
  }

  .categories-selector {
    margin-top: 30px;
  }

</style>
