<template>
  <div>
    <el-row>
      <el-button class="add-new-dish-btn" size="medium" icon="el-icon-circle-plus" type="success" plain round></el-button>
    </el-row>
    <el-row class="dishes-cards-list" type="flex" justify="center">
      <el-col :span="16">
        <el-card :body-style="{ padding: '0px' }">
          <img src="../../assets/images/coffie.png" height="100" class="image">
          <el-button type="text" icon="el-icon-close" style="float: right; font-size: 20px; color: #F56C6C; margin-right: 11px;"></el-button>
          <div style="padding: 14px;">
            <span style="border-bottom: 1px gray solid; padding-bottom: 1px;">Капучино</span>
            <el-button type="text" icon="el-icon-edit" style="float: right; font-size: 20px; "></el-button>
            <div style="display: block; margin-top: 7px; font-size: 12px;">
              <span>Объем: 0.4л</span>
            </div>
            <div style="display: block; font-size: 12px;">
              <p>Описание: Классика, что тут еще скажешь</p>
            </div>

            <div style="float: right; padding-bottom: 10px;">
              <span>100р</span>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col>
        <el-card class="parameters-block" style="padding: 10px; min-width: 200px; max-width: 500px;">
          <span style="display: block; margin-bottom: 10px;">Теги данного блюда</span>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 1
          </el-tag>

          <el-tag
            @close="handleClose(tag)">
            Тег 2
          </el-tag>
          <el-tag
            @close="handleClose(tag)">
            Тег 3
          </el-tag>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
    export default {
        name: "dishes-tab",
      data() {
        return {
          newTag: '',
          tags: ['Тег 1', 'Тег 2', 'Тег 3', 'Тег 4', 'Тег 5']
        }
      },
    }
</script>

<style scoped>
  .add-new-dish-btn {
    font-size: 20px;
  }

  .dishes-cards-list {
    margin-top: 30px;
  }
</style>
