<template>
  <el-row type="flex" justify="center">
    <el-card class="parameters-block" style="padding: 20px">
      <el-tag
        @close="handleClose(tag)">
        Тег 1
      </el-tag>
      <el-tag
        @close="handleClose(tag)">
        Тег 2
      </el-tag>
      <el-tag
        @close="handleClose(tag)">
        Тег 3
      </el-tag>
    </el-card>
  </el-row>

</template>

<script>
    export default {
        name: "local-parameters-part"
    }
</script>

<style scoped>
  .parameters-block {
    margin-top: 50px;

  }
</style>
